/*-------- Global style */

body {
    background: white;
    font-family: "Ubuntu", sans-serif;
    color: #445344;
    text-align: center;
}

/*-------- Heading */

.heading {
    text-align: center;
    font-size: 2.5rem;
}

.logo {
    height: 40px;
    padding-right: 5px;
}

.game-area {
    background-color: aquamarine;
    box-sizing: border-box;
    width: 85%;
    height: 65vh;
    max-height: 450px;
    max-width: 830px;
    margin-left: auto;
    margin-right: auto;
    padding: 1%;
}

.question-area {
    width: 70%;
    font-size: 2rem;
    margin: auto;
    padding: 50px 0;
}

.score-area {
    margin: 5px auto;
    width: 60%;
    font-size: 1.2rem;
}

.controls-area {
    width: 85%;
    margin: 30px auto;
}

#correct {
    color: green;
    font-weight: bold;
}

#incorrect {
    color: red;
    font-weight: bold;
}

/* --------- Buttons */

.game-btn {
    width: 110px;
    height: 60px;
    margin: 10px;
    font-family: "Ubuntu", sans-serif;
    text-transform: uppercase;
    letter-spacing: 1.2px;
    color: black;
}
.submit {
    width: 150px;
}